.button {
    font: inherit;
    border: 1px solid #012759;
    background: #012759;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: #113588;
    border-color: #113588;
}

.button:focus {
    outline: none;
}
