.button {
    font: inherit;
    border: 1px solid #113588;
    background: #113588;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: #012759;
    border-color: #012759;
}

.button:focus {
    outline: none;
}
